<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.small.missionboard.mapper.TaskMapper">

    <select id="sortByTimePage" resultType="com.small.missionboard.bean.entity.Task">
        select * from task where locate('delivered', status) > 0
        order by create_time
        <if test="reverse == null">
            desc
        </if>
    </select>

    <!--    <select id="sortByTaskFinishedCountPage" resultType="com.small.missionboard.bean.entity.Task">-->
    <!--        select *-->
    <!--        from task-->
    <!--        where locate('delivered', status) > 0-->
    <!--        order by-->
    <!--    </select>-->

    <select id="notAcceptedList" resultType="com.small.missionboard.bean.entity.Task">
        select *
        from task
        where #{senderId} = sender_id
          and (locate('timeout_not_accepted', status) > 0 or locate('delivered', status) > 0)
    </select>

    <select id="ongoingList" resultType="com.small.missionboard.bean.entity.Task">
        select *
        from task
        where (#{userId} = sender_id or #{userId} = receiver_id)
          and locate('ongoing', status) > 0
    </select>

    <select id="finishedList" resultType="com.small.missionboard.bean.entity.Task">
        select *
        from task
        where (#{userId} = sender_id or #{userId} = receiver_id)
          and locate('finished', status) > 0
    </select>

    <select id="timeoutNotSubmittedList" resultType="com.small.missionboard.bean.entity.Task">
        select *
        from task
        where (#{userId} = sender_id or #{userId} = receiver_id)
          and locate('timeout_not_submitted', status) > 0
    </select>
</mapper>
